:root {
    --border-width: 4px;
    --path-width: 15px;
    --maze-cell-size: 50px;
}

.maze-rows-container {
    display: flex;
    flex-direction: column;
    row-gap: var(--border-width);
}

.maze-cells-container {
    display: flex;
    column-gap: var(--border-width);
}

.maze-cell {
    display: inline-block;
    width: var(--maze-cell-size);
    height: var(--maze-cell-size);
    position: relative;
}

.maze-base {
    position: relative;
    display: inline-block;
}

.maze-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* all maze cell borders */

.maze-cell-border {
    position: absolute;
    background-color: rgb(0,0,0);
}

.maze-cell-top-border {
    width: calc(100% + 2 * var(--border-width));
    height: var(--border-width);
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
}

.maze-cell-bottom-border {
    width: calc(100% + 2 * var(--border-width));
    height: var(--border-width);
    bottom: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
}

.maze-cell-left-border {
    width: var(--border-width);
    height: calc(100% + 2 * var(--border-width));
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
}

.maze-cell-right-border {
    width: var(--border-width);
    height: calc(100% + 2 * var(--border-width));
    right: calc(-1 * var(--border-width));
    top: calc(-1 * var(--border-width));
}


/* all path variants */

.maze-path-part {
    position: absolute;
    background-color: rgb(255, 0, 0);
    border-radius: 50000px;
}


.maze-path-part-top {
    width: var(--path-width);
    height: calc(100% + var(--path-width) + var(--border-width));
    bottom: calc(50% - 0.5 * var(--path-width));
    left: calc(50% - 0.5 * var(--path-width));
}

.maze-path-part-bottom {
    width: var(--path-width);
    height: calc(100% + var(--path-width) + var(--border-width));
    top: calc(50% - 0.5 * var(--path-width));
    left: calc(50% - 0.5 * var(--path-width));
}

.maze-path-part-left {
    width: calc(100% + var(--path-width) + var(--border-width));
    height: var(--path-width);
    top: calc(50% - 0.5 * var(--path-width));
    right: calc(50% - 0.5 * var(--path-width));
}

.maze-path-part-right {
    width: calc(100% + var(--path-width) + var(--border-width));
    height: var(--path-width);
    top: calc(50% - 0.5 * var(--path-width));
    left: calc(50% - 0.5 * var(--path-width));
}

.maze-path-part-start,
.maze-path-part-finish {
    width: calc(var(--path-width) * 2);
    height: calc(var(--path-width) * 2);
    top: calc(50% - var(--path-width));
    left: calc(50% - var(--path-width));
    border-radius: 20%;
    user-select: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;   
    /* animation: pulsing-size 2s ease infinite;  */
}

@keyframes pulsing-size {
    0% {
        scale: 0.9;
    }
    50% {
        scale: 1.2;
    }
    100% {
        scale: 0.9;
    }
}

