

.better-slider.p-slider {
    height: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
}

.better-slider.p-slider:hover {
    opacity: 0.8;
}

.better-slider.p-slider .p-slider-range {
    cursor: pointer;
    border-radius: 5px;
}

.better-slider.p-slider .p-slider-handle {
    cursor: pointer;
}

.better-slider.p-slider .p-slider-handle:hover {
    background-color: white;
    
}
