
/* header itself */
.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 60000;

    background-color: var(--brand-first-color);
    background: linear-gradient(90deg, var(--brand-first-color-dark), var(--brand-first-color), var(--brand-first-color-dark));
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    display: inline-block;
    color: var(--brand-second-color);
}

.header a:active {
    color: var(--brand-second-color-dark);
}

.header li {
    display: inline-block;
    height: 100%;
    align-content: center;
}


/* right menu */

.profile-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.profile-menu-item {
    color: var(--brand-second-color);
    font-size: 18px;

    display: inline-block;
    align-content: center;
    height: 100%;

    padding: 0 15px;
}

.profile-menu-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}


/* Left menu */

.navigation-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-menu h1 {
    color: var(--brand-second-color);
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin: 2px;
    padding: 5px 10px;
    user-select: none;
    /* text-shadow: 0 0 3px rgba(0, 0, 0, 0.3); */
}








