body {
    margin: 0;
    font-family: 'Arial', 'Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    /* background-color: var(--background-color-dark); */
    background: url('/public/images/bg/maze-bg2.png');
    background-attachment: scroll;
}

.simple-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


:root {
    --header-height: 48px;

}


.add-header-padding {
    padding-top: var(--header-height);
}

.header-sticky {
    position: sticky;
    top: var(--header-height)
}
